<header class="bg-purple">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <img width="5%" src="assets/images/nature/silhueta.png">
    <h5 class="my-0 mr-md-auto font-weight-normal"><b>Dr. Leonardo Botelho</b></h5>
    <nav class="navbar navbar-dark secondary-color">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-purple active" href="#"><b>Pagina Inicial</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-purple" routerLink="about-us" routerLinkActive="active"><b>Um pouco sobre nós</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-purple" routerLink="specialties" routerLinkActive="active"><b>Especialidades</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-purple" routerLink="contact-us"><b>Contate-nos</b></a>
        </li>
      </ul>
      <a href="https://api.whatsapp.com/send?phone=5561998227744&text=Ol%C3%A1%2C%20estou%20entrando%20em%20contato%20pelo%20link%20do%20site." target="_blank" class="btn btn-success active" role="button" aria-pressed="true">WhatsApp</a>
    </nav>
  </div>
</header>