<!-- START THE FEATURETTES -->
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Dr. Leonardo
      <span class="text-muted">Botelho</span>
    </h2>
    <p class="lead" align="justify">Ver nossas pacientes com melhora de sua autoestima ,através de procedimentos
      cirúrgicos por nos
      realizados, é nossa missão ,que se torna mais gratificante a cada dia ,quando evoluímos na técnica e no
      espirito.
      Com a ajuda do Deus pai ,podemos nos manter firmes no caminho que nos foi dado por ele, na missão de ajudar o
      ser
      humano a se sentir melhor consigo mesmo e com seus entes queridos.
      Agradeço a minha formação como pessoa e ser humano a Deus ,meus familiares, e meus mestres, que contribuíram de
      alguma forma,para o enriquecimento de nossos conhecimentos, assim como nossa equipe de trabalho ,que tem
      cuidado
      com zelo de nossos pacientes.
      Esperamos ter saúde e força para continuar nossa jornada até quando nosso amado pai permitir,e agradecemos o
      carinho de nossas pacientes.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="assets/images/nature/curvas_roxo.png" alt="Generic placeholder image">
  </div>
</div>