<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/rn1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">RINOPLASTIA ESTÉTICA</h2>
          <p align="justify">A Rinoplastia estética, cirurgia das mais tradicionais no âmbito da cirurgia plástica, é aquela que mais
            chama a atenção
            pelos resultados, devido ao fato de se modificar o contorno facial do(a) paciente. É uma das condutas que
            mais evoluiram
            nos últimos anos, permitindo atualmente resultados estéticos e funcionais, com preservação dos elementos
            anatômicos
            nobres do nariz.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/ot1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 text-head">OTOPLASTIA ESTÉTICA</h2>
          <p align="justify">A orelha é uma das partes do corpo humano que poderá trazer o estigma familiar: “O filho tem a
            orelha do pai”! Muitas
            vezes a orelha em abano, defeito estético mais comum, é encontrada em vários membros da família e constitui
            uma
            identificação
            negativa, principalmente pelo fato de gerar caçoadas na infância, trazendo como conseqüência marcas
            profundas
            no
            comportamento da criança. Assim é que existe uma idade ideal para se fazer a cirurgia de correção do abano:
            5 a
            7
            anos ( denominada idade pré-escolar ), período em que a orelha já está totalmente formada e quase igual ao
            tamanho
            daquela do adulto. Além do mais, por se tratar de um período pré-escolar, nessa fase começam os problemas
            de
            ordem
            psicológica.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/bt1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">MENTOPLASTIA</h2>
          <p align="justify">O queixo constitui um dos principais pontos de referência no estudo estético da face.
            O queixo ideal deverá observar um posicionamento dentro de certos limites estéticos, fazendo um conjunto
            harmônico juntamente com outros setores como o nariz, olhos, boca, etc.
            Poderá se apresentar em posição mais avançada ou mais retraída, em relação ao seu posicionamento ideal.
            Para ambos os casos existem correções cirúrgicas.
            A mentoplastia mais comum é aquela que visa corrigir o retro-posicionamento (queixo retraído), através da
            inclusão de uma peça de silicone, ou outro recurso disponivel ao arsenal cirúrgico do médico .
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/mm1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 text-head">MAMAPLASTIA DE AUMENTO</h2>
          <p align="justify">As mamas podem ter seu volume aumentado através da cirurgia. Além disso, almejamos melhorar sua
            consistência e forma com a intervenção cirúrgica. Assim é que, neste caso, pode-se escolher o novo volume,
            pois dispomos de vários tamanhos, formatos e texturas de peças de silicone a serem introduzidas, o que nos
            proporciona maior opção quanto ao resultado estético. Existe uma harmonia entre o volume ideal das mamas e
            o tamanho do tórax, característica esta que deve ser preservada no planejamento da cirurgia. Deverão ser
            mantidas as proporções entre o volume da nova mama e o tamanho do tórax de cada paciente, a fim de se obter
            uma maior harmonia estética.
            O implante poderá ser colocado em plano acima ou abaixo do musculo,de acordo com a indicação de cada caso
            especifico.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/mm1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">CIRURGIA DE MASTOPLASTIA REDUTORA</h2>
          <p align="justify">Ou cirurgia estética mamária de redução é uma das mais comuns, dentre as cirurgias estéticas, pois, além
            de ser indicada para melhorar o aspecto
            estético da mama, também é indicada como recurso complementar no tratamento profilático de certas doenças
            da mama (casos especiais) e como prevenção de problemas causados por mamas muito grandes.
            Podem ou não ser utilizados implantes de silicone para melhoria de formato das mamas ,colocados usualmente
            em situaçao ou plano acima do musculo ou outro de preferencia do cirurgião.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/le1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 text-head">LIPOESCULTURA</h2>
          <p align="justify">LIPOASPIRAÇÃO é uma cirurgia para retirada de gordura de áreas específicas do corpo - queixo, pescoço (“
            papo”), membro
            superior, mamas, abdome, flancos (“pneus”), cintura, costas, nádegas, coxa, joelho e perna.
            É uma das mais comuns, dentre as cirurgias estéticas; indicada para melhorar a modelagem corporal retirando
            excessos de gorduras localizadas de determinadas áreas do corpo e eventualmente colocando em outras
            (lipoescultura).
            Pode ser realizada com auxilio de aparelhos cirúrgicos específicos como o Vibrolipo,Vaser lipo
            etc,dependendo da preferencia do cirurgião.
            A lipoaspiração não é um substituto das dietas (emagrecimento), mas promove a remoção das gorduras que não
            respondem às dietas ou aos exercícios físicos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/lf1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">RITIDOPLASTIA</h2>
          <p align="justify">O lifting facial ou ritidoplastia (ritides-rugas) consiste numa cirurgia de rejuvenescimento que
            proporciona ao paciente manter o aspecto mais jovem e saudável possível, condizente com sua saúde física e
            seu estado psicológico. “O objetivo é reverter o quadro de degeneração muscular e fascio-cutanea retornando
            no paciente os tecidos à posição anterior, devolvendo a aparência descansada e saudável”.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/le1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 text-head">DERMOLIPECTOMIA ABDOMINAL</h2>
          <p align="justify">Juntamente com a mamaplastia ,é uma das cirurgia mais comumente realizadas pelo cirurgião plástico e tem
            como objetivo principal a correção de flacidez cutânea em baixo ventre decorrente de gestação ou
            emagrecimento pronunciado, juntamente com a correção da diástase dos músculos retos abdominais resultante
            de tais processos citados.
            A cicatriz resultante de uma dermolipecitomia localiza-se horizontalmente logo acima da implantação dos
            pelos pubianos, prolongando-se lateralmente em maior ou menor extensão,onde assume uma posição mais
            arqueada ou curva, dependendo do volume do abdome a ser corrigido. Esta cicatriz é planejada para ficar
            escondida sob as roupas de banho.
            Esse procedimento cirúrgico poderá ser associado a uma lipoaspiração de flancos e dorso ou outras regioes
            especificas com o objetivo de melhoria na estética do paciente na região do tronco.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/bf1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">BLEFAROPLASTIA</h2>
          <p align="justify">Fatores como: idade, textura da pele, distúrbios da acuidade visual, problemas emocionais, etc., poderão
            deixar como conseqüência sua marca no território das pálpebras. Assim é que, quando o paciente é examinado
            (a) pelo cirurgião plástico, este estará fazendo uma análise profunda, para intervir somente naqueles
            setores que possam se beneficiar como a cirurgia estética das pálpebras.
            Muitas vezes o problema estético das pálpebras é devido a fatores clínicos e não está indicada qualquer
            cirurgia (olheiras, edemas, etc.). Outras vezes, os problemas clínicos estão associados ao cirúrgico e,
            mesmo que se opere devidamente as pálpebras, ainda assim persistirá um percentual do defeito original,
            decorrente do distúrbio clínico associado.
            A cirurgia plástica das pálpebras corrige apenas os excessos de pele e gordura e flacidez muscular do
            território palpebral, podendo, em certos casos, melhorar o aspecto funcional além de estético. Não deverá,
            entretanto acarretar qualquer prejuízo para o lado da função das pálpebras, desde que a evolução
            pós-operatória seja normal.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/zz1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4 text-head">CORREÇAO DE GINECOMASTIA</h2>
          <p align="justify">A ginecomastia consiste no aumento da glândula mamaria masculina,por alterações hormonais e ou deposição
            de gordura na área .
            Antes de qualquer procedimento cirúrgico deverá ser investigado a evolução do processo, que pode ter outras
            causas passiveis de tratamento clinico.
            O procedimento tem como objetivo a redução de volume mamário por incisões reduzidas na região da aréola
            mamaria ,porem ocasionalmente existe necessidade de retirada de excesso cutâneo na região.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/images/nature/gt1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4 text-head">GLUTEOPLASTIA DE AUMENTO</h2>
          <p align="justify">Esse procedimento cirúrgico ,realizado cada vez mais pelo cirugiao plástico,consiste na inclusão de
            prótese de silicone ,disponível em volumes, formatos e texturas diferentes adequados para cada caso,em
            posição intramuscular,ou seja ,dentro do tecido muscular glúteo,com incisão pouco visível, no sulco
            intergluteo.
            Existem dois grupos de pacientes que se beneficiam de formas diferentes. O primeiro grupo é de pessoas
            jovens, com pouca ou nenhuma flacidez. Apresentam o "bumbum chato", pequeno e sem projeção. No segundo
            grupo estão incluídas as pessoas com mais idade, que apresentam, além da pouca projeção, certa flacidez de
            pele e queda do bumbum. A prótese não melhora o aspecto do "bumbum caído", mas pode melhorar a flacidez e
            disfarçar o problema. Para corrigir o "bumbum caído" é necessário outro tipo de procedimento.
            Recentemente alguns homens têm procurado esta cirurgia com resultados igualmente satisfatórios.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>