<carousel [noPause]="noPause">
  <slide>
    <img src="assets/images/nature/bannerPrincipal.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/teste4.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="text-purple">Um sonho Possível</h3>
      <p class="text-purple">Cirurgia Plástica</p>
    </div>
  </slide>
</carousel>

<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing ajustar">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f1.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Estética Facil</h2>
      <p>Lorem ipsum suscipit libero semper vestibulum, platea pellentesque adipiscing congue, magna hendrerit sit donec. fermentum
        est vel feugiat laoreet nunc phasellus aliquet, nam non nulla fames potenti auctor dictumst potenti, volutpat interdum
        porttitor platea convallis donec. scelerisque praesent class laoreet curabitur elit, curabitur netus consequat aliquam,
        etiam sollicitudin volutpat porta. </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f4.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Abdominoplastia</h2>
      <p>Lorem ipsum suscipit libero semper vestibulum, platea pellentesque adipiscing congue, magna hendrerit sit donec. fermentum
        est vel feugiat laoreet nunc phasellus aliquet, nam non nulla fames potenti auctor dictumst potenti, volutpat interdum
        porttitor platea convallis donec. scelerisque praesent class laoreet curabitur elit, curabitur netus consequat aliquam,
        etiam sollicitudin volutpat porta. </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f6.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Mastopexia</h2>
      <p>Lorem ipsum suscipit libero semper vestibulum, platea pellentesque adipiscing congue, magna hendrerit sit donec. fermentum
        est vel feugiat laoreet nunc phasellus aliquet, nam non nulla fames potenti auctor dictumst potenti, volutpat interdum
        porttitor platea convallis donec. scelerisque praesent class laoreet curabitur elit, curabitur netus consequat aliquam,
        etiam sollicitudin volutpat porta.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr. Leonardo
        <span class="text-muted">Botelho</span>
      </h2>
      <p class="lead">Membro Especialista da Sociedade Brasileira de Cirurgia Plástica (SBCP). Residência médica em cirurgia geral credenciada
        pelo MEC no Hospital Júlia Kubitscheck Belo Horizonte – MG. Especialização em cirurgia plástica credenciada pela
        SBCP no Hospital Júlia Kubitscheck e Clínica de Cirurgia Plástica Carlos Inácio Coelho de Almeida/ Belo Horizonte
        – MG.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/nature/curvas_roxo.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Você Linda
        <span class="text-muted">Sempre.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/nature/biqbranco_roxoclaro.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>
<!-- /.container -->