<carousel>
  <slide>
    <img src="assets/images/nature/bannerPrincipal.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/teste4.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="text-purple">Um sonho Possível</h3>
      <p class="text-purple">Cirurgia Plástica</p>
    </div>
  </slide>
</carousel>

<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing ajustar">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f1.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Estética Facil</h2>
      <p align="justify">A Rinoplastia estética, cirurgia das mais tradicionais no âmbito da cirurgia plástica, é aquela que mais chama
        a atenção pelos resultados, devido ao fato de se modificar o contorno facial do(a) paciente. É uma das condutas
        que mais evoluiram nos últimos anos, permitindo atualmente resultados estéticos e funcionais, com preservação
        dos elementos anatômicos nobres do nariz.</p>
      <p>
        <a class="btn btn-secondary" routerLink="../specialties" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f4.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Vibrolipo</h2>
      <p align="justify">É uma cirurgia para retirada de gordura de áreas específicas do corpo - queixo, pescoço (“ papo”), membro
        superior, mamas, abdome, flancos (“pneus”), cintura, costas, nádegas, coxa, joelho e perna.
        É uma das mais comuns, dentre as cirurgias estéticas; indicada para melhorar a modelagem corporal retirando
        excessos de gorduras localizadas de determinadas áreas do corpo e eventualmente colocando em outras
        (lipoescultura).
        Pode ser realizada com auxilio de aparelhos cirúrgicos específicos como o Vibrolipo,Vaser lipo etc,dependendo
        da preferencia do cirurgião.
        A lipoaspiração não é um substituto das dietas (emagrecimento), mas promove a remoção das gorduras que não
        respondem às dietas ou aos exercícios físicos.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="../specialties" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/nature/f6.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2 class="text-purple">Mamaplastia</h2>
      <p align="justify">As mamas podem ter seu volume aumentado através da cirurgia. Além disso, almejamos melhorar sua consistência e
        forma com a intervenção cirúrgica. Assim é que, neste caso, pode-se escolher o novo volume, pois dispomos de
        vários tamanhos, formatos e texturas de peças de silicone a serem introduzidas, o que nos proporciona maior
        opção quanto ao resultado estético. Existe uma harmonia entre o volume ideal das mamas e o tamanho do tórax,
        característica esta que deve ser preservada no planejamento da cirurgia. Deverão ser mantidas as proporções
        entre o volume da nova mama e o tamanho do tórax de cada paciente, a fim de se obter uma maior harmonia
        estética.
        O implante poderá ser colocado em plano acima ou abaixo do musculo,de acordo com a indicação de cada caso
        especifico.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="../specialties" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dr. Leonardo
        <span class="text-muted">Botelho</span>
      </h2>
      <p class="lead" align="justify">Membro Especialista da Sociedade Brasileira de Cirurgia Plástica (SBCP). Residência médica em
        cirurgia geral credenciada
        pelo MEC no Hospital Júlia Kubitscheck Belo Horizonte – MG. Especialização em cirurgia plástica credenciada
        pela
        SBCP no Hospital Júlia Kubitscheck e Clínica de Cirurgia Plástica Carlos Inácio Coelho de Almeida/ Belo
        Horizonte
        – MG.</p>
      <p>
        <a class="btn btn-secondary" routerLink="../about-us" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/nature/curvas_roxo.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Você Linda
        <span class="text-muted">Sempre.</span>
      </h2>
      <p class="lead" align="justify">Ver nossas pacientes com melhora de sua autoestima ,através de procedimentos cirúrgicos por nos
        realizados, é nossa missão ,que se torna mais gratificante a cada dia ,quando evoluímos na técnica e no
        espirito.</p>
      <p>
        <a class="btn btn-secondary" routerLink="../about-us" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/nature/biqbranco_roxoclaro.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>
<!-- /.container -->